.nayti {

    &__heading {
        background-image: url(./../../image/bg-iz.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: 750px;
        
    }
}